*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    background-color: #181717;
    color :rgb(233, 227, 227);
}

section{
    padding : 40px 10%;
}

section h2{
    font-size : 36px;
    margin-bottom : 20px;
}

section h3{
    font-size : 30px;
    font-weight : 600;
    margin-bottom : 20px;
}

header{
    width: 100%;
    height: 100vh;
    background : linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-bg.jpg)
                center no-repeat;
    background-size: cover;
    padding : 10px 8%;
    position : relative;
}

nav {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 0;
}

nav .logo{
    font-size : 32px;
    color :#ca1616;
    cursor : pointer;
}

nav button{
    border : 0;
    outline : 0;
    border-radius : 5px;
    background-color : #ca1616;
    color : #fff;
    padding : 10px 24px;
    margin-left : 10px;
    font-size : 16px;
    cursor : pointer;
}

.lang{
    display : inline-flex;
    align-items: center;
    border : 1px solid #fff;
    background-color : transparent;
}

.lang i:nth-child(1){
    margin-left : 8px;
}

.lang i:nth-child(2) {
    margin-left: 5px;
}

.header-content{
    position : absolute;
    left: 50%;
    top : 50%;
    transform : translate(-50%, -50%);
    text-align : center;
}

.header-content h2{
    font-size : 60px;
    line-height: 1.4;
    font-weight : 600;
    max-width: 650px;
    margin-bottom : 20px;
}

.header-content h3{
    font-weight :400;
    margin-bottom: 40px;
}

.add-email{
    background-color: #fff;
    border-radius : 4px;
    margin-top : 30px;
    display : flex;
    align-items: center;
    overflow: hidden;
}

.add-email input{
    border : 0;
    outline : 0;
    flex : 1;
    margin-left : 20px;
}

.add-email button{
    border: 0;
    background-color: #ca1616;
    color : white;
    font-size : 16px;
    padding : 15px 30px;
    cursor : pointer;
}